<section class="planner-section">
  <h1 class="planner-title">Plan your day!</h1>
  <div class="planner-container">
    <div class="planner">
      <div class="planner-actions">
        <input
          (keydown.enter)="addTask()"
          [(ngModel)]="inputValue"
          placeholder="New task..."
          class="task-input"
          type="text" />
        <button (click)="addTask()" class="btn-add">Add</button>
      </div>
      <div class="task-container">
        <div class="task" *ngFor="let task of plannerTasks; let i = index">
          <div class="task-left">
            <input
              class="checkbox-done"
              [(ngModel)]="task.done"
              type="checkbox" />
            <span [ngClass]="{ done: task.done }">{{ task.description }}</span>
          </div>
          <button class="btn-delete" (click)="deleteTask(i)">
            <img src="/assets/images/icons/icon-clear.svg" alt="" />
          </button>
        </div>
      </div>
      <div>
        You have completed {{ tasksDoneCount }} out of {{ plannerTasks.length }}
      </div>
    </div>
  </div>
</section>
