.planner-section {
  background-color: #f0f8ea;
  min-height: 100vh;
}

.planner-title {
  text-align: center;
}

.planner-container {
  display: flex;
  justify-content: center;
}

.planner {
  display: flex;
  flex-direction: column;
  background-color: #a8c686;
  padding: 20px;
  width: 400px;
  margin: 0 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 10px;
}

.planner-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.task-input {
  width: 100%;
}

.btn-add {
  border: none;
  border-radius: 4px;
  background-color: #e4572e;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: #f0f8ea;
  border-radius: 4px;
  padding: 5px;
}

.btn-delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;

  img {
    filter: invert(39%) sepia(92%) saturate(713%) hue-rotate(322deg)
      brightness(89%) contrast(91%);
  }

  &:hover {
    opacity: 0.8;
  }
}

.done {
  text-decoration: line-through;
}

.checkbox-done {
  width: 20px;
  height: 20px;
}

.task-left {
  display: flex;
  align-items: center;
}
